/* colors */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}

/* shared */
a{
    text-decoration: none;
}
.btn-primary{
    color: white;
    background-color: #ff900e;
    font-size: 1.5rem;
    padding: 15px 20px;
    border-radius: 8px;
    max-width: fit-content;
}
.text-desc{
    font-size: 1rem;
    color: #727272;
}

/* ****** */
/* header */
/* ****** */
header{
    background-color: #ff8f0e1a;
}

/* navbar */
nav li{
    list-style: none;
    color: #424242;
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    display: flex;
    width: 20%;
    gap: 20px;
    justify-content: space-between;
    grid-area: nav-links;
}
nav{
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.brand{
    font-size: 2.8rem;
    color: #131313;
    grid-area: brand; 
}

/* banner */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    margin-bottom: 0px;
    color: #131313;
}
.banner-img{
    width: 80%;
    margin-bottom: 50px;
}

/* ******* */
/* quickie */
/* ******* */
.quick{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    gap: 80px;
    margin: 50px auto;
}
.quick-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.quick-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    max-width: 85%;
}

/* **************** */
/* features section */
/* **************** */
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 80vw;
    margin: 0 auto 50px;
}
.feature-txt{
    max-width: 42%;
}
#feature-title{
    border-left: 5px solid #ff900e;
    padding: 5px 20px;
}
.feature-cards{
    display: grid;
    grid-template-columns: 1fr;
}
.ft-card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
    margin: 10px;
    padding: 0 20px;
    border-radius: 8px;
}
.card-title{
    color: #131313;
    font-size: 20px;
}
.feature-img{
    position: relative;
    max-width: 55%;
}
#ft-img{
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 88%;
    margin: auto 10%;
}
#exp-block{
    position: absolute;
    bottom: -60px;
    left: 0px;
}

/* ******** */
/* factoids */
/* ******** */
.facts{
    max-width: 75vw;
    margin: 100px auto;
}
.fact-txt{
    max-width: 40%;
    margin: 100px 0;
}
.fact-cards{
    display: flex;
    max-width: 90%;
    margin: auto;
    justify-content: space-between;
}
.fact-card{
    height: 242px;
    width: 242px;
    border: 1px solid #ff900e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.fact-title{
    font-size: 45px;
    color: #424242;
    margin: 10px;
}
.fact-desc{
    font-size: 20px;
    color: #727272;
    margin: 0px;
}

/* ****** */
/* footer */
/* ****** */

.sponsors{
    max-width: 75vw;
    margin: auto auto 100px;
}
.spons-txt{
    text-align: center;
    max-width: 40%;
    margin: auto auto 50px;
}
.spons-img{
    display: flex;
    justify-content: space-between;
}
.spons-img img{
    filter: grayscale(1);
}

.copyright{
    max-width: calc(75vw - 50px);
    margin: auto auto 100px;
    border-radius: 8px;
    background-color: #ff8f0e1a;
    padding: 20px 50px;
}
.copyright-txt{
    color: #424242;
    text-align: center;
    font-size: 20px;
}


/* for phones */
@media screen and (max-width: 576px){
    /* banner area */
    nav{
        display: grid;
        height: fit-content;
        grid-template-areas:
        "brand"
        "nav-links";
        gap: 20px;;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto 0 auto 0;
    }
    .brand{
        font-size: 1.8rem;
        margin: 20px auto;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-img{
        width: 95%;
        margin-bottom: 10px;
    }

    /* quickie */
    .quick{
        grid-template-columns: 1fr;
        margin: 50px auto;
        gap: 20px;
        width: 90vw;
    }
    .quick-img{
        gap: 10px;
    }
    .quick-img>img{
        width: 44vw;
    }
    .quick-txt{
        margin: auto;
    }

    /* features */
    .features{
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        gap: 50px;
        margin-bottom: 0px;
    }
    .feature-txt{
        max-width: 100%;
    }
    .feature-img{
        max-width: 100%;
    }
    #ft-img{
        margin: auto;
        position: relative;
        left: 40px;
    }
    #exp-block{
        scale: 60%;
        left: -40px;
    }

    /* factoids */
    .facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 85vw;
        margin-top: 0px;
    }
    .fact-txt{
        max-width: 100%;
        margin-bottom: 0px;
    }
    .fact-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        margin: 0px;
        gap: 20px;
        transform: scale(0.7);
        margin: -70px -13vw;
    }

    /* sponsors */
    .sponsors{
        max-width: 90vw;
        margin: auto auto 100px;
    }
    .spons-txt{
        text-align: center;
        max-width: 100%;
        margin: auto auto 50px;
    }

    .spons-img img{
        max-width: 50%;
    }
    .spons-img div{
        text-align: center;
    }
    #spotify{
        grid-area: spotify;
    }
    #amazon{
        grid-area: amazon;
    }
    #google{
        grid-area: google;
    }
    #telerama{
        grid-area: telerama;
    }
    #figma{
        grid-area: figma;
    }
    .spons-img{
        display: grid;
        grid-template-areas:
        "spotify amazon google"
        "telerama . figma";
        row-gap: 30px;
    }
}

/* for tablets */
@media screen and (max-width: 992px) and (min-width: 577px){
    /* banner area */
    nav{
        display: grid;
        height: fit-content;
        grid-template-areas:
        "brand"
        "nav-links";
        gap: 20px;;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto 0 auto 0;
    }
    .brand{
        font-size: 1.8rem;
        margin: 20px auto;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-img{
        width: 95%;
        margin-bottom: 10px;
    }

    /* quickie */
    .quick{
        grid-template-columns: 1fr;
        margin: 50px auto;
        gap: 20px;
        width: 80vw;
    }
    .quick-img{
        gap: 10px;
    }
    .quick-img>img{
        width: calc(40vw - 10px);
    }
    .quick-txt>h3{
        margin: 0;
    }

    /* features */
    .features{
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        gap: 50px;
        margin-bottom: 0px;
    }
    .feature-txt{
        max-width: 100%;
    }
    .feature-img{
        max-width: 100%;
    }
    #ft-img{
        margin: auto;
        position: relative;
        max-width: 60vw;
        left: 40px;
    }
    #exp-block{
        left: -40px;
    }

    /* factoids */
    .facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 85vw;
        margin-top: 0px;
    }
    .fact-txt{
        max-width: 100%;
        margin-bottom: 0px;
    }
    .fact-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        margin: 20px auto;
        gap: 20px;
    }

    /* sponsors */
    .sponsors{
        max-width: 90vw;
        margin: auto auto 100px;
    }
    .spons-txt{
        text-align: center;
        max-width: 100%;
        margin: auto auto 50px;
    }

    .spons-img img{
        max-width: 50%;
    }
    .spons-img div{
        text-align: center;
    }
    #spotify{
        grid-area: spotify;
    }
    #amazon{
        grid-area: amazon;
    }
    #google{
        grid-area: google;
    }
    #telerama{
        grid-area: telerama;
    }
    #figma{
        grid-area: figma;
    }
    .spons-img{
        display: grid;
        grid-template-areas:
        "spotify amazon google"
        "telerama . figma";
        row-gap: 30px;
    }
}